<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>JSP_Servlet</display-name>

	<servlet>
		<servlet-name>loginToSearch</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginToSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchToHomePage</servlet-name>
		<servlet-class>servlet.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchToHomePage</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateBook</servlet-name>
		<servlet-class>servlet.UpdateBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBook</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteBook</servlet-name>
		<servlet-class>servlet.DeleteBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBook</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updatedBook</servlet-name>
		<servlet-class>servlet.UpdatedBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatedBook</servlet-name>
		<url-pattern>/updated</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>view/login.jsp</welcome-file>
	</welcome-file-list>

</web-app>